* {
  margin: 0;
  color: black;
}

.fa .fas {
  color: black !important;
}

body > div .wrapper .row {
  margin: 0;
}

img {
  max-width: 100%;
}

.navbar-brand {
  font-family: "Roboto", sans-serif;
  font-size: 45px;
  color: black;
}

p {
  font-family: "Playfair", sans-serif;
  font-size: 16px;
}

h3 {
  font-family: "Playfair", sans-serif;
  font-weight: 700;
}

.mensaje {
  margin-left: 700px;
  background-color: #b1f0fd;
  font-size: 30px;
  color: white;
}

.seguir {
  background-color: #ff1717b0;
  font-size: 30px;
  color: white;
}

button {
  border: 0px;
}

.margen-hamburguesa {
  margin-right: 5%;
}

.fa-logo {
  margin: 5px;
}

.navbar-collapse .navbar-toggler .nav-imagenes {
  text-align: right;
}

.navbar {
  justify-content: flex-end;
  background-color: white;
}

.navbar > a {
  justify-content: flex-start;
}

.contenedor {
  display: flex;
  border: 2px solid black;
  text-align: center;
  font-size: 3rem;
  justify-content: space-between;
  align-items: center;
  border: 0px;
}

.caja1 {
  width: 35%;
}

.caja2 {
  width: 45%;
}

.form-inline2 {
  float: right;
  margin-right: 10%;
}

.navbar-brand {
  margin-left: 0%;
  margin-right: 0px;
}

@media (max-width: 700px) {
  .caja2 {
    display: none;
  }

  .caja1 {
    width: 100%;
  }

  .nav-imagenes {
    margin-left: 0px;
  }
}
.img_banner {
  background-image: url("../../img/image-banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
}

@media (max-width: 700px) {
  .img_banner {
    background-image: url("../../img/image-banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
    margin-top: 110px;
  }
}
.user-info {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-flow: row wrap;
}
.user-info img {
  height: 80px;
  width: 80px;
  border-radius: 40px;
}
.user-info button {
  height: 40px;
}

.item {
  margin-top: 0px;
  margin-left: 10px;
}

.container1 {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 20px;
  font-family: "Times New Roman", Times, serif;
}

.parte1 {
  justify-content: flex-start;
  margin-left: 10%;
}

.parte2 {
  justify-content: flex-end;
  margin-right: 10%;
  align-items: center;
}

.inicio {
  margin-top: 30px;
  margin-bottom: 0px;
}

.nombre {
  margin-left: 10px;
  margin-bottom: 0px;
  font-size: 2rem;
}

.seguidores {
  margin-left: 10px;
  font-size: 1rem;
}

@media (max-width: 700px) {
  .container1 {
    grid-template-columns: repeat(1, auto);
    grid-gap: 20px;
    font-family: "Times New Roman", Times, serif;
    place-content: center;
  }

  .parte1 {
    margin-left: 0px;
  }
}
.container {
  max-width: 1800px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 20px;
}

@media (max-width: 700px) {
  .container {
    max-width: 1800px;
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-gap: 20px;
  }

  .titulo_imagenes {
    text-align-last: center;
  }
}
.titulo_imagenes {
  margin-left: 0%;
}

img {
  width: 100%;
  height: 15rem;
}

@media (max-width: 700px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    width: 99%;
  }
  .container img {
    max-width: 100%;
  }

  .button2 {
    display: none;
  }

  .navbar {
    width: 100%;
    justify-content: end;
  }

  .nav-imagenes {
    margin-left: 0px;
  }

  .inicio {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
