//esquema de colores
$white:#fff;
$Platinum:#E6E7E7;
$Lightgray:#D1D1D1;

$Fuzzywuzzy:#E56353;
$Ruddypink:#D76C69;
$Spanishpink:#ECBCBA;

$Eerieblack:#121619;
$Risinblack:#222323;
$Nickel:#6C6E70;

//Tipografía
$Roboto: 'Roboto', sans-serif;
$Playfair: 'Playfair Display', italic;

//Font sizes
$light: 300;
$regular: 400;
$blackitalic: 900;

//Tamaño de fuentes
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;

//Buttons size
$medium-button: 200px;
$small-button: 100px;