//esquema de colores
$white: #FFF;
$platinum: #E8EBE4;
$gray: #BEC1BB;

//segundo esquema de colores
$blue-bell: #A491D2;
$soap: #CDC3E6;
$pale-lavander: #D4DCFF;

//tercer esquema
$dark-jungle: #1B1F21;
$outer-space: #444749;
$old-silver: #828485;

//Fuentes
$roboto: 'Roboto', sans-serif;
$open-sans: 'Open Sans', sans-serif;

// Font Weight
$regular: 400;
$bold: 700;

// Font Sizes
$large: 45px;
$medium: 16px;
$small: 14px;
$x-small: 10px;

$boton-mensaje: #b1f0fd;
$boton-seguir: #ff1717b0;