@media (max-width: 700px)
{
    .container
    {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        width: 99%;
        img
        {
            max-width: 100%;
        }

    }
    .button2
    {
        display: none;
    }
    .navbar
    {
        width: 100%;
        justify-content: end;
    }

    .nav-imagenes
    {
        margin-left: 0px;
    }

    .inicio
    {
        width: 100%;
    }




}