.mensaje
{
    margin-left: 700px;
    background-color: $boton-mensaje;
    font-size: 30px;
    color: white;
}

.seguir{
    background-color:$boton-seguir;
    font-size: 30px;
    color: white;
}

button {
    border: 0px;
}

