
.navbar-brand {

    font-family: $roboto;
    font-size: $large;
    color: black;
}

p {
    font-family: $playfair;
    font-size: $medium;
}

h3 {

    font-family: $playfair;
    font-weight: $bold;

}