
.img_banner
{
    background-image: url('../../img/image-banner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
}

@media (max-width: 700px) {
    

    .img_banner
{
    background-image: url('../../img/image-banner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
}

  }
