.fa-logo
{
    
    margin: 5px;
}

.navbar-collapse .navbar-toggler .nav-imagenes
{
    text-align: right;
}

.navbar
{
    justify-content: flex-end;
}

.navbar>a
{
    justify-content: flex-start;
}

.contenedor {

    display: flex;
border: 2px solid black;
text-align: center;
font-size: 3rem;
justify-content: space-between;
align-items: center;



}

.caja1 {
width: 35%;




}

.caja2 {
    width: 45%;


    
    
    }

.form-inline2 {
    float: right;
    margin-right: 10%;
}

.navbar-brand {
    margin-left: 10%;
    margin-right: 0px;
}