.user-info {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-flow: row wrap;


    img {
        height: 80px;
        width: 80px;
        border-radius: 40px;
    }

    button {
        height: 40px;
        
    }
}


.item
{
    margin-top: 0px;
    margin-left: 10px;
}

.container1
{
    
        display: grid;
        grid-template-columns: repeat(2,auto);
        grid-gap: 20px;
        font-family: 'Times New Roman', Times, serif;
    
}


.parte1 {

    justify-content: flex-start;
    margin-left: 10%;
}

.parte2 {
    justify-content: flex-end;
    margin-right: 10%;
    align-items: center;
}

.inicio {

    margin-top: 30px;
    margin-bottom: 0px;
}

.nombre {
    margin-left: 10px;
    margin-bottom: 0px;
    font-size: 2rem;

}

.seguidores {
    margin-left: 10px;
    font-size: 1rem;
}

@media (max-width: 700px) {

    .container1
    {
        
            grid-template-columns: repeat(1,auto);
            grid-gap: 20px;
            font-family: 'Times New Roman', Times, serif;
            place-content: center;
        
    }

    .parte1 {

        margin-left: 0px;
    }
    
    

}